<h1>Movie Page </h1>


<h2>Plot:</h2>
<%= data["data"]["plot"] %> <br>
<h2>Year:</h2>
<%= data["data"]["year"] %><br>
<h2>Director:</h2>
<%= data["data"]["director"] %> <br>
<h2>Genre:</h2>
<%= data["data"]["genre"] %>